<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
            

          

            .main{
                justify-content: center;
                align-items: center;
                margin-top: 80px;
                text-align: center;
                
            }

           
        </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
        <title>{% block title %} {% endblock %}</title>

    </head>
    <body>
       
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/home">TwiPRO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/view">Community</a>
            </li>
            {% if  user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'add_post' %}">Add post</a>
                </li>
            {% endif %}
            {% if  not user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="/login">Log in</a>
            </li>
            {% endif %}
            {% if  user.is_authenticated %}
            
            {% endif %}

            

            
            
            </ul>
            
            <ul class="navbar-nav mr-auto">
                {% if  user.is_authenticated %}
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Profile
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'editprofile' %}">Edit Setting</a>
                      {% if user.profile.id %}
                        <a class="dropdown-item" href="{% url 'edit_profile_page' user.profile.id %}">Edit Profile Page</a>
                        <a class="dropdown-item" href="{% url 'show_profile_page' user.profile.id %}">Show Profile Page</a>
                        <a class="dropdown-item" href="/logout">Log out</a>
                      {% else %}
                        <a class="dropdown-item" href="{% url 'create_profile_page' %}">Create Profile Page</a>
                      {% endif %}
                    </div>
                  </li>
                {% endif %}
                </ul>
        </div>
    </nav>



        <div id="content", name="content", class="container">
            <div class="row justify-content-center">
                <div class="col-8">
                    <h1 class="mt-2">{% block name %}Blog site{% endblock %}</h1>
                    <hr class="mt-0 mb-4">
                        {% block content %}
                        {% endblock %}
                  
                </div>
                
            </div>
            
        </div>
       
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
    </body>
</html>